language: node_js
node_js:
  - "8"
dist: trusty
services:
  - mongodb
  - redis-server
env:
  - NODE_ENV=ci PORT=3000
cache:
  directories:
    - node_modules
    - client/node_modules
    - server/node_modules
install:
  - yarn
  - yarn client:build
script:
  - nohup yarn start &
  - sleep 3
  - yarn test